/* .nav-fill,
.nav-justified {
  .nav-item .nav-link {
    width: 50%; 
  }
} */
footer > p {
  text-align: center;
  color: white;
}
body {
  background: white !important;
}
footer {
  background-color: green !important;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.p-5 {
  background-color: #07d3ed;
}

#homepage > div.container.mt-3.p-5.my-5.border {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black) !important;
}
