
footer > p {
  text-align: center;
  color: white;
}
body {
  background: white !important;
}
footer {
  background-color: green !important;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.p-5 {
  background-color: #07d3ed;
}

#homepage > div.container.mt-3.p-5.my-5.border {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn:hover {
  cursor: pointer;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2px;
  transition: all 0.4s ease;
  background: #4070f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav.sticky{
  padding: 15px 20px;
  background: #4070f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}